<div class="flex flex-col gap-2">
  <label class="text-sm font-medium text-gray-700">
    {{ label }}
  </label>

  <div class="relative">
    <!-- Icono izquierdo -->
    <div
      class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none text-gray-400"
    >
      <ng-content select="[leftIcon]"></ng-content>
    </div>

    <input
      [type]="type"
      [value]="value"
      [disabled]="disabled"
      [autocomplete]="autocomplete"
      [attr.name]="label.toLowerCase().replace(' ', '-')"
      (input)="handleInput($event)"
      (blur)="onTouched()"
      [class]="getInputClasses()"
      [placeholder]="placeholder"
    />

    <!-- Icono derecho (botones o iconos) -->
    <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
      <ng-content select="[rightIcon]"></ng-content>
    </div>
  </div>
</div>
