<label
  class="
    flex items-center gap-3 select-none
    cursor-pointer
    has-[input:disabled]:cursor-not-allowed
    has-[input:disabled]:opacity-60
  "
>
  <input
    type="checkbox"
    class="
      w-5 h-5 rounded
      accent-primary-600
      focus:ring-primary-500
      cursor-pointer
      disabled:cursor-not-allowed
    "
    [checked]="checked"
    [disabled]="disabled"
    (change)="handleChange($event)"
    (blur)="onTouched()"
  />

  <span class="text-sm text-gray-700">
    {{ label }}
  </span>
</label>